*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.top{
  font-size: 30px;
  color: #E74040;
  position: fixed;
  top: 80%;
  left: 95%;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #737373;
  background-color: #FAFAFA;
  cursor: pointer;
  transition: 1s;
}
.top:hover{
  background-color: #E74040;
  color: white;
  transition: 1s;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.logo{
  font-weight: 700;
  font-size: 40px;
  color: #ECECEC;
  cursor: pointer;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
nav ul li:hover{
  transform: scale(1.3);
  transition: .5s;
}
.login{
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.join-us{
  font-size: 18px;
  padding: 15px 20px;
  color: white;
  background-color: #FF6551;
  border:none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}
.join{
  font-size: 16px;
  font-weight: 700;
  color: #FFC652;
  text-align: center;
  padding-top: 132px;
  padding-bottom: 40px;
  cursor: pointer;
  transition: .5s;
}
.header-title{
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  color: #ffffff;
  text-align: center;
}
.header-description{
  padding: 40px 0px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.title-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 230px;
}
.card{
  height: 300px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  cursor: pointer;
}
.icons{
  padding: 20px;
  font-size: 32px;
  border-radius: 10px;
  background-color: #B6D7FF;
  color: #E74040;
  margin-bottom: 20px;
}
.card-title{
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
}
.line{
  height: 3px;
  width: 50px;
  background-color: #E74040;
  border-radius: 5px;
  margin: 20px 0px;
}
.card-description{
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0px 197px;
  position:absolute;
  top: 85%;
  padding-bottom: 70px;

}
.card-3{
  background-color: #FF6551;
}
.card-title-3{
  color: white;
}
.line-3{
  background-color: white;
}
.card-description-3{
  color: white;
}
main{
  margin: 0px 197px;
}
.course-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 160px;
  gap: 30px;
}
.image-container > img{
  width: 100%;
}
.text-container{
  margin-left: 100px;
}
.bold-line{
  height: 7px;
  width: 94px;
  border-radius: 5px;
  background-color: #E74040;
}
.course-title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #252B42;
  margin: 35px 0px;
}
.course-description{
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  margin-bottom: 35px;
}
.course-btn{
  color: #FF6551;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #FF6551;
  border-radius: 5px;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
  transition: 1s;
}
.course-btn:hover{
  background-color: #FF6551;
  color: white;
  transition: 1s;
}
.text-container-2{
  margin-left: 0px;
}
.testimonials-text{
 padding-top: 100px;
 margin-bottom: 100px;
}
.testimonials-name{
  font-size: 14px;
  font-weight: 700;
  color: #FF6551;
}
.testimonials-title{
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
  margin: 10px 0px;
}
.testimonials-description{
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}
.testimonials-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 160px;
}
.card-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
}
.card-items > img{
  height: 150px;
  width: 155px;
  background: center;
  border-radius: 50%;
  margin-top: 20px;
}
.testimonials-card-title{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  padding: 20px;
}
.card-items ul{
  display: flex;
  list-style: none;
  gap: 5px;
  color: #F3CD03;
}
.card-items h3{
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
  padding: 10px;
}
.development{
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  margin-bottom: 20px;
}
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}
.contact-container h3{
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #FF6551;
}
.contact-container h1{
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
  padding: 10px 0px;
  text-align: center;
}
.contact-container p{
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  text-align: center;

}
.input-box{
  margin: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box input{
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #E6E6E6;
  background-color:#F9F9F9;
  border-radius: 5px;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
  outline: 1px solid #E74040;
}
.input-box button{
  padding: 17px 20px;
  border-radius: 5px;
  color: white;
  background-color: #E74040;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
}
.input-box input::placeholder{
  color: #E74040;
}
.input-box input:focus{
  border: none;
}
.link-container{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px
}
.link-container ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  cursor: pointer;
}
.first-link{
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}
.last-link{
  display: flex;
  align-items: center;
  gap: 20px;
}
.link-color{
  font-size: 24px;
  color: #FF6551;
}
.copy-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 170px;
  background-color: #FAFAFA;
}
.copy-right p{
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}
.copy-right ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 24px;
  color: #FF6551;
  cursor: pointer;
}

/* responsive part */
@media (max-width: 800px){
  .nav-links{
    display: none;
  }
  .button-container{
    display: none;
  }
  .card-container{
    grid-template-columns: 1fr;
    margin-left: 80px;
  }
  .testimonials-card{
    grid-template-columns: 1fr;
  }
}

footer ul li:hover{
  text-decoration: underline;
}
